venv
.env
alembic.ini
uploads/
uploas
alembic/__pycache__/
alembic/versions/
app/__pycache__/
app/api/__pycache__/
app/models/__pycache__/
app/schemas/__pycache__/
app/services/__pycache__/
app/utils/__pycache__/
tests/__pycache__/


# Python
__pycache__/
*.py[cod]
*$py.class


# Pytest
.pytest_cache/  

